@using PC.Utility.DateConvertor
@model IEnumerable<PC.Dto.Psychologist.PsychologistTypeOfConsultation.PsychologistTypeOfConsultationViewModel>
@{
    ViewData["Title"] = " : نوع جلسات روانشناس";
    int counter = 1;
}
<section class="container-fluid pe-sm-4">
    @if (ViewData["message"] != null)
    {
        <section class="alert alert-danger">
            <h4>
                @ViewData["message"]
            </h4>
        </section>
    }
    @if (ViewData["RenderMessage"] != null)
    {
        <div class="toast fade show border-1 border-info position-fixed bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header border-info">
                <strong class="me-auto text-info"> نتیجه </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewData["RenderMessage"]
            </div>
        </div>
    }
    <section class="section_error mb-3">
        <a class="btn btn-success" asp-controller="Psychologists" asp-action="CreatePsychologistTypeOfConsultation" asp-route-psychologistId="@ViewData["psychologistId"]"> افزودن نوع جلسه </a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Psychologists" asp-action="Index">
            برگشت
        </a>
    </section>
    <section>
        @if (Model != null)
        {
            if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"> نوع جلسات </th>
                            <th scope="col"> وضعیت فیلد </th>
                            <th scope="col"> اخرین تغییرات </th>
                            <th scope="col"> امکانات </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">@counter</td>
                                <td>
                                    @item.TypeOfConsultationViewModel.Name
                                </td>
                                <td>
                                    @if (item.IsDeleted)
                                    {
                                        <span class="badge text-bg-danger">
                                            این فیلد حذف شده
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge text-bg-success">
                                            حذف نشده
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (item.UpdatedAt != null)
                                    {
                                        <span class="badge text-bg-info">
                                            @item.UpdatedAt?.ToFarsi()
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge text-bg-info">
                                            هیچ تغییری نداشته
                                        </span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" asp-controller="Psychologists" asp-action="DeletePsychologistTypeOfConsultation" asp-route-psychologistTypeOfConsultationId="@item.Id"> حذف </a>
                                    <a class="btn btn-warning btn-sm" asp-controller="Psychologists" asp-action="EditPsychologistTypeOfConsultation" asp-route-psychologistTypeOfConsultationId="@item.Id"> ویرایش </a>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <div class="alert alert-warning">
                <h6>
                    هیچ نوع جلسه ای برای این روانشناس ثبت نشده
                </h6>
            </div>
        }
    </section>
</section>