@model IEnumerable<PC.Dto.User.UserViewModel>
@{
    ViewData["Title"] = " : کابران";
    int counter = 1;
}

<section class="container-fluid pe-sm-4">
    @if (ViewData["message"] != null)
    {
        <section class="alert alert-danger">
            <h4>
                @ViewData["message"]
            </h4>
        </section>
    }
    @if (ViewData["RnderMessage"] != null)
    {
        <div class="toast fade show border-1 border-info position-fixed bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header border-info">
                <strong class="me-auto text-info"> نتیجه </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @ViewData["RnderMessage"]
            </div>
        </div>
    }
    <section class="section_error mb-3">
        <a class="btn btn-success" asp-controller="Users" asp-action="CreateUser"> افزودن کاربر </a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Index">
            برگشت
        </a>
    </section>
    <section>
        @if (Model != null)
        {
            if (Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"> نام </th>
                            <th scope="col"> فامیلی </th>
                            <th scope="col"> شماره همراه </th>
                            <th scope="col"> وضعیت شماره </th>
                            <th scope="col"> سطح دسترسی </th>
                            <th scope="col"> امکانات </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="@(item.Id == 1?"table-primary":"")">
                                <td scope="row">@counter</td>
                                <td>
                                    @item.FName
                                </td>
                                <td>
                                    @item.LName
                                </td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    @if (item.MobailActiveStatus)
                                    {
                                        <span class="badge text-bg-success">
                                            فعال
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge text-bg-warning">
                                            غیر فعال
                                        </span>
                                    }
                                </td>
                                <td>
                                    @item.RoleViewModel.Name
                                </td>
                                @if (item.Id > 1)
                                {
                                    <td>
                                        <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="DeleteUser" asp-route-userId="@item.Id"> حذف </a>
                                        <a class="btn btn-warning btn-sm" asp-controller="Users" asp-action="EditUser" asp-route-userId="@item.Id"> ویرایش </a>
                                        @if (item.IsActive)
                                        {
                                            <a class="btn btn-outline-danger btn-sm" asp-controller="Users" asp-action="Block" asp-route-userId="@item.Id"> بلاک </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-success btn-sm" asp-controller="Users" asp-action="OnBlock" asp-route-userId="@item.Id"> ان بلاک </a>
                                        }
                                        @if (!item.MobailActiveStatus)
                                        {
                                            <a class="btn btn-outline-primary btn-sm" asp-controller="Users" asp-action="ActivePhone" asp-route-userId="@item.Id"> فعال کردن موبایل </a>
                                        }
                                        <a class="btn btn-outline-info btn-sm" asp-controller="Users" asp-action="ChangePassword" asp-route-userId="@item.Id"> تغییر رمز عبور </a>
                                        <a class="btn btn-light btn-sm" asp-controller="Users" asp-action="ChangeAuth" asp-route-userId="@item.Id"> تغییر سطح دسترسی </a>
                                        <a class="btn btn-outline-warning btn-sm" asp-controller="Psychologists" asp-action="CreatePsychologist" asp-route-userId="@item.Id"> تبدیل به روانشناس </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                    </td>
                                }
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <div class="alert alert-warning">
                <h6>
                    هیچ کابری وجود ندارد
                </h6>
            </div>
        }
    </section>
</section>